@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://i.pinimg.com/564x/b6/16/2f/b6162fdded18bbff1b0052cb96c7f2e2.jpg");
    height: 100vh;
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box-user-box label {
    top: 0px;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }

}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.button {
    color: white;
    background-color: #25b1cc;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
    text-align: center;
}

.bg-containers {
    background-image: url("https://i.pinimg.com/236x/f9/b5/06/f9b50630ff3a81b91fbd962cae737f82.jpg");
    height: 180vh;
    background-size: cover;
}

.card {
    background-color: #e6f6ff;
    height: 45vh;
    width: 380px;
    margin: 15px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.data-heading {
    color: #090a0a;
    font-size: 22px;
    font-family: "Bree Serif";
    padding: 10px;
    font-weight: 400;
}

.para {
    color: #06070d;
    font-size: 17px;
    font-family: "Bree Serif";
    padding: 10px;
    font-weight: 200;
}

.main-container {
    font-family: "Roboto";
}

.ai-search-header {
    border-style: solid;
    border-width: 1px;
    border-color: #d5cdcd;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.ai-logo {
    width: 150px;
    margin-bottom: 30px;
}

.search-input {
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5cdcd;
    border-radius: 3px;
    padding: 10px;
}

.search-results {
    width: 100%;
    padding-left: 20px;
}

.result-item {
    margin-bottom: 20px;
}

.result-title {
    font-size: 22px;
}

.link-description {
    color: #444444;
    font-size: 15px;
}

.result-url {
    color: #006621;
    text-decoration: none;
}

.bg-containers1 {
    background-image: url("https://previews.123rf.com/images/moutomy/moutomy1710/moutomy171000004/88462012-laptop-and-note-book-and-pencil-and-black-coffee-on-white-background-with-copy-space.jpg");
    height: 100vh;
    background-size: cover;
}